body{
font-family:Inter, sans-serif;
margin:0;
background:#0b0b0b;
color:white;
}

.container{
width:90%;
max-width:1100px;
margin:auto;
}

.narrow{ max-width:750px; }

.section{ padding:80px 0; }
.dark{ background:#111; }

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.card{
background:#181818;
padding:25px;
border-radius:12px;
text-decoration:none;
color:white;
transition:0.3s;
}

.card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.card:hover{
transform:translateY(-6px);
box-shadow:0 8px 25px rgba(0,0,0,0.6);
}

/* HERO IMAGE */
.hero{
position:relative;
height:80vh;
display:flex;
align-items:center;
}

.hero-bg{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
opacity:0.25;
}

.hero-content{ position:relative; }

/* NAVBAR */
.navbar{
position:fixed;
width:100%;
background:#000;
z-index:1000;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 0;
}

.nav-links{
display:flex;
gap:20px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}

/* MOBILE */
.mobile-menu-btn{
display:none;
background:none;
border:none;
color:white;
font-size:26px;
}

@media(max-width:768px){

.mobile-menu-btn{ display:block; }

.nav-links{
position:absolute;
right:0;
top:70px;
background:#111;
flex-direction:column;
padding:20px;
display:none;
width:220px;
}

.nav-links.active{ display:flex; }

}

/* BREAKING NEWS TICKER */
.ticker-wrap{
display:flex;
background:#c40000;
color:white;
font-weight:bold;
position:fixed;
top:70px;
width:100%;
z-index:999;
}

.ticker-label{
padding:10px 15px;
background:#ff0000;
}

.ticker{
overflow:hidden;
flex:1;
}

.ticker-move{
white-space:nowrap;
padding:10px;
animation:ticker 25s linear infinite;
}

@keyframes ticker{
0%{transform:translateX(100%);}
100%{transform:translateX(-100%);}
}

.read-more-link{
  display:inline-block;
  margin-top:10px;
  color:#ff3b3b;
  font-weight:600;
  text-decoration:none;
}

.read-more-link:hover{
  text-decoration:underline;
}

.logo img{
  height:55px;
  width:auto;
  display:block;
}

.logo a{
  display:inline-block;
}
